@charset "utf-8";
/* CSS Document - Surcharge css Agence */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/barlow/Barlow-Regular.eot');
  src: url('fonts/barlow/Barlow-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/barlow/Barlow-Regular.woff2') format('woff2'), url('fonts/barlow/Barlow-Regular.woff') format('woff'), url('fonts/barlow/Barlow-Regular.ttf') format('truetype'), url('fonts/barlow/Barlow-Regular.svg#Barlow') format('svg');
}

/***********************************/
/* CUSTOM */
/***********************************/
html,
html * {
  font-family: 'Barlow', sans-serif;
}

html,
body {
  font-size: 1rem;
}

/* Title */
.title {
  font-size: 20px;
}

/* Color */
.orange-light {
  color: #f39005;
}

.green {
  color: #00c485;
}

.blue {
  color: #00e2ff;
}

/* Button */
.cta-1,
.cta-2,
.cta-3 {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.cta-1 {
  background: #ff3100;
  color: #ffffff;
}

.cta-2 {
  background: #ffffff;
  color: #ff3100;
}

.cta-3 {
  background: #ffffff;
  color: #00c485;
}

/* Arrow */
.arrow-right {
  display: inline-block;
  margin: 0 5px;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
  border-left: solid 7px #f39005;
}


/***********************************/
/* HEADER */
/***********************************/

/* Header */
.site-banner {
  background: transparent;
}

.site-banner .inside {
  max-width: 1440px;
  padding: 0;
}

.site-banner .inside .quicklinks {
  display: flex;
  justify-content: flex-end;
  padding-right: 15rem;
  background: #1e2339;
}

.site-banner .inside .quicklinks .btn-primary {
  padding: 0.7em 2em;
  border: 0;
  background: #565968;
  font-size: 0.875rem;
}

.wrapper,
.site-wrapper {
  max-width: 1440px;
}

.header-container {
  position: relative;
  font-size: 1.125rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url('img/readyforit/bg_header.jpg') no-repeat 46% 0;
}

.header-logo {
  width: 635px;
  height: 280px;
  background: url('img/readyforit/logo.png') no-repeat;
}

.header-date {
  margin-right: 9rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #1e2339;
  text-align: center;
}

.header-date p {
  margin: 0;
}

/* Navigation */
.mn-menu-line {
  justify-content: center;
  border: 0;
}

.mn-item-lvl-1 > .mn-link {
  font-weight: 700;
  text-transform: inherit;
}

.mn-link-text::before {
  display: none;
}

.is-open .mn-link.mn-link {
  background: transparent;
  color: #003239;
}

.mn-link.mn-link:hover,
.mn-link.mn-link:focus,
.mn-link.mn-link.is-active {
  background: transparent;
  color: #ff3100;
}

.mn-menu-submenu {
  background: #ffffff;
  color: #003239;
}

.mn-menu-submenu .mn-link:hover,
.mn-menu-submenu .mn-link:focus,
.mn-menu-submenu .mn-link.is-active {
  background: #ffffff;
  color: #ff3100;
}

/* Stiky header */
.is-stuck.site-banner {
  padding: 0;
}

.is-stuck.site-banner .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.is-stuck.site-banner .header-content {
  padding-left: 9rem;
  background: transparent;
}

.is-stuck.site-banner .header-date {
  margin-right: 0;
}

.is-stuck.site-banner .header-logo {
  position: absolute;
  top: -1.5rem;
  left: 0;
  width: 137px;
  height: 170px;
  background: url('img/readyforit/logo-stiky.png') no-repeat;
}

.is-stuck .mn-item-lvl-1:first-child {
  display: block;
}


/***********************************/
/* FOOTER */
/***********************************/
.site-footer {
  background: transparent;
}

.site-footer .inside {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 4.25em 0 0;
  border-top: 11px solid #565968;
  background: #1e2339;
}

.site-footer .inside .footer-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
}

.footer-logos,
.footer-newsletter,
.footer-links {
  flex: 0 0 31%;
}

.logo-dg-consultants {
  display: inline-block;
  width: 93px;
  height: 76px;
  margin-right: 2.5rem;
  background: url('img/readyforit/logo_dg.png') no-repeat;
}

.logo-comexposium {
  display: inline-block;
  width: 215px;
  height: 76px;
  background: url('img/readyforit/logo_comexposium.png') no-repeat center;
}

.footer-logos p {
  margin-top: 1.5rem;
}

.footer-newsletter {
  margin: 0 2rem;
  padding: 1rem 0;
  border-right: 1px solid #414555;
  border-left: 1px solid #414555;
  text-align: center;
}

.footer-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 11rem;
  background: #141828;
}

.site-footer .cta-1 {
  background: #ff3100;
  color: #ffffff;
}

.site-footer .cta-2 {
  background: #ffffff;
  color: #ff3100;
}

.site-footer .cta-3 {
  background: #ffffff;
  color: #00c485;
}

.site-footer .newsletter p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}

.site-links .cta-1,
.site-links .cta-2 {
  display: block;
  width: 60%;
  margin: 0 auto;
}



/***********************************/
/* MAIN */
/***********************************/
