@charset "utf-8";
/* CSS Document - Surcharge css Agence */

/***********************************/
/* Picots heading */
/***********************************/

/* A propos */
.parent601409 h1::before {
  content: '';
  display: inline-block;
  width: 62px;
  height: 63px;
  background: url('img/readyforit/icon_about.svg') no-repeat;
}

/* Programme */
.parent601410 h1::before {
  content: '';
  display: inline-block;
  width: 62px;
  height: 62px;
  background: url('img/readyforit/icon_program.svg') no-repeat;
}

/* Partenaires medias */
.parent601411 h1::before {
  content: '';
  display: inline-block;
  width: 62px;
  height: 62px;
  background: url('img/readyforit/icon_partner.svg') no-repeat;
}

/* Participation */
.parent601412 h1::before {
  content: '';
  display: inline-block;
  width: 72px;
  height: 39px;
  background: url('img/readyforit/icon_participation.svg') no-repeat;
}

/* Infos pratiques */
.parent601415 h1::before {
  content: '';
  display: inline-block;
  width: 62px;
  height: 62px;
  background: url('img/readyforit/icon_info.svg') no-repeat;
}

/* Blog/Press */
.parent601413 h1::before,
.parent601399 h1::before {
  content: '';
  display: inline-block;
  width: 62px;
  height: 62px;
  background: url('img/readyforit/icon_blog.svg') no-repeat;
}

/***********************************/
/* Background heading */
/***********************************/
